*{box-sizing: border-box;}

.container{
    width: 700px;
    margin: 0 auto;
}
.btn{
    border:none;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    color: white;
    transition: all 1s;
    font-size: 14px;
    display: inline-block;
}
.success{background-color: green;}
.success:hover{box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); transition: all 0.4s; }
.success:active{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);}

.info{background-color: skyblue;}
.info:hover{box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); transition: all 0.4s; }
.info:active{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);}

.warning{background-color:orange ;}
.warning:hover{box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); transition: all 0.4s; }
.warning:active{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);}

.danger{background-color:hotpink ;}
.danger:hover{box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); transition: all 0.4s; }
.danger:active{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);}

.default{background-color:pink ;}
.default:hover{box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); transition: all 0.4s; }
.default:active{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);}

/* 테두리 버튼 */
.btn.outline.success{
    background-color: transparent;
    border:2px solid green;
    color: green;
}
.btn.outline.success:hover{
    background-color: green;
    color: white;
}

.btn.outline.info{
    background-color: transparent;
    border:2px solid skyblue;
    color: skyblue;
}
.btn.outline.info:hover{
    background-color: skyblue;
    color: white;
}

.btn.outline.warning{
    background-color: transparent;
    border:2px solid orange;
    color: orange;
}
.btn.outline.warning:hover{
    background-color: orange;
    color: white;
}

.btn.outline.danger{
    background-color: transparent;
    border:2px solid hotpink;
    color: hotpink;
}
.btn.outline.danger:hover{
    background-color: hotpink;
    color: white;
}

.btn.outline.default{
    background-color: transparent;
    border:2px solid pink;
    color: pink;
}
.btn.outline.default:hover{
    background-color: pink;
    color: white;
}
.btn.lg{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
}